<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TALLERERP_A01_DATOSEntities" connectionString="metadata=res://*/FacturaModelo.csdl|res://*/FacturaModelo.ssdl|res://*/FacturaModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBDERP\MSSQLSERVER1;initial catalog=TALLERERP_A01_DATOS;user id=BI;password=sdmbi2016.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RecepcionComprobantesOfflineServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="RecepcionComprobantesOfflineServiceSoapBinding1" />
        <binding name="AutorizacionComprobantesOfflineServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AutorizacionComprobantesOfflineServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline"
        binding="basicHttpBinding" bindingConfiguration="RecepcionComprobantesOfflineServiceSoapBinding"
        contract="RecepcionComprobantesOffline.RecepcionComprobantesOffline"
        name="RecepcionComprobantesOfflinePort" />
      <endpoint address="https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline"
        binding="basicHttpBinding" bindingConfiguration="AutorizacionComprobantesOfflineServiceSoapBinding"
        contract="AutorizacionComprobantesOffline.AutorizacionComprobantesOffline"
        name="AutorizacionComprobantesOfflinePort" />
    </client>
  </system.serviceModel>
</configuration>